<!---------------------------------------- Footer Section ------------------------------------------>
<footer class="footer-section bg-dark-blue section-padding">
    <div class="container">
        <div class="footer-links">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="footer-link-box js_accordion">
                        <h4 class="font-18 footer-link-heading">Insurance Products</h4>
                        <ul class="mob-accordion-box">
                            <li>
                                <a href="/car-insurance" class="font-16">Car Insurance</a>
                            </li>
                            <li>
                                <a href="/two-wheeler-insurance" class="font-16">Bike
                                    Insurance</a>
                            </li>
                            <li>
                                <a href="/commercial-vehicle-insurance"
                                    class="font-16">Commercial Vehicle
                                    Insurance</a>
                            </li>
                            <li>
                                <a href="/health-insurance/" class="font-16">Health
                                    Insurance</a>
                            </li>
                            <li>
                                <a href="/travel-insurance" class="font-16">Travel
                                    Insurance</a>
                            </li>
                            <li class="term-insurance-visible">
                                <a href="https://term.policyboss.com/term-insurance?ses_id={{session_id}}"
                                    class="font-16">Term Insurance</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="footer-link-box js_accordion">
                        <h4 class="font-18 footer-link-heading">About PolicyBoss</h4>
                        <ul>
                            <li>
                                <a href="/about-us" class="font-16">About Us</a>
                            </li>
                            <li>
                                <a href="/from-cmd-desk" class="font-16">Management Team</a>
                            </li>
                            <li>
                                <a href="/privacy-policy" class="font-16">Legal & Policies</a>
                            </li>
                            <li>
                                <a href="/contact-us" class="font-16">Contact Us</a>
                            </li>
                            <!-- <li>
                              <a href="" class="font-16">PR & Media</a>
                          </li> -->
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="footer-link-box js_accordion">
                        <h4 class="font-18 footer-link-heading">Help & Support</h4>
                        <ul>
                            <!-- <li>
                              <a href="" class="font-16">Claim Assistance</a>
                          </li> -->
                            <li>
                                <a href="/claim-settlement-information" class="font-16">Claim
                                    Process</a>
                            </li>
                            <li>
                                <a href="/feedback" class="font-16">Feedback / Complaint</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="footer-link-box js_accordion">
                        <h4 class="font-18 footer-link-heading">Knowledge Center</h4>
                        <ul>
                            <li>
                                <a href="https://blog.policyboss.com/blog/" class="font-16">Blogs</a>
                            </li>
                            <li>
                                <a href="/videos" class="font-16">Videos</a>
                            </li>
                            <!-- <li>
                              <a href="" class="font-16">Advertisements</a>
                          </li>
                          <li>
                              <a href="" class="font-16">Advisories</a>
                          </li> -->
                            <li>
                                <a href="/downloads" class="font-16">Downloads</a>
                            </li>
                            <li>
                                <a href="/sitemap" class="font-16">Site Map</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-social-links">
            <div class="socials-box">
                <ul>
                    <li>
                        <a href="https://www.facebook.com/policyboss" target="_blank">
                            <img src="https://origin-cdnh.policyboss.com/website/UI22/images/icons/facebook.png" alt="Facebook" />
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/user/policyboss" target="_blank">
                            <img src="https://origin-cdnh.policyboss.com/website/UI22/images/icons/youtube.png" alt="Youtube" />
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/policyboss/" target="_blank">
                            <img src="https://origin-cdnh.policyboss.com/website/UI22/images/icons/linkedIn.png" alt="LinkedIn" />
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/Policyboss" target="_blank">
                            <img src="https://origin-cdnh.policyboss.com/website/UI22/images/icons/twitter.png" alt="Twitter" />
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/policyboss/" target="_blank">
                            <img src="https://origin-cdnh.policyboss.com/website/UI22/images/icons/instagram.png" alt="Instagram" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-other-details">
            <div class="box">
                <h5 class="heading-text font-16">Registered By</h5>
                <a href="" title="IRDA" class="icon-box">
                    <img src="https://origin-cdnh.policyboss.com/website/UI22/images/icons/irda-logo.png" alt="IRDA" />
                </a>
            </div>
            <div class="payment-box">
                <h5 class="heading-text font-16">Payment By</h5>
                <ul>
                    <li>
                        <a href="" title="Master Card">
                            <div class="icon-box">
                                <img class="master-card" src="https://origin-cdnh.policyboss.com/website/UI22/images/icons/master-card.png" alt="Master card" />
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="" title="Visa Card">
                            <div class="icon-box">
                                <img class="visa-card" src="https://origin-cdnh.policyboss.com/website/UI22/images/icons/visa-icon.png" alt="Visa card" />
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="" title="Maestro Card">
                            <div class="icon-box">
                                <img class="maestro-card" src="https://origin-cdnh.policyboss.com/website/UI22/images/icons/maestro-icon.png"
                                    alt="Maestro card" />
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="" title="Rupay Card">
                            <div class="icon-box">
                                <img class="rupay-card" src="https://origin-cdnh.policyboss.com/website/UI22/images/icons/rupay-icon.png" alt="Rupay card" />
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="our-security">
                <h5 class="heading-text font-16">Secured By</h5>
                <ul>
                    <li>
                        <a href="" class="box">
                            <div class="icon-box">
                                <img src="https://origin-cdnh.policyboss.com/website/UI22/images/icons/macafee.png" alt="Macafee" />
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="" class="box bg-blue">
                            <div class="icon-box">
                                <img class="lock-icon" src="https://origin-cdnh.policyboss.com/website/UI22/images/icons/logo-secure-blue.png" alt="Secure" />
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="" class="box bg-green">
                            <div class="icon-box">
                                <img class="lock-icon" src="https://origin-cdnh.policyboss.com/website/UI22/images/icons/logo-secure-green.png" alt="Secure" />
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <p class="read-instruction-text text-uppercase">FOR MORE DETAILS ON RISK FACTORS, TERMS AND CONDITIONS
                PLEASE READ SALES BROCHURE CAREFULLY BEFORE PURCHASING THE INSURANCE POLICY/CONCLUDING A SALE.</p>
            <div class="our-branch-section">
                <h5 class="heading-text font-16 text-white">Branch Offices:</h5>
                <ul class="branch-title-row">
                    <li>Ahmedabad</li>
                    <li>Aurangabad</li>
                    <li>Bangalore</li>
                    <li>Bhopal</li>
                    <li>Chandigarh</li>
                    <li>Chennai</li>
                    <li>Cochin</li>
                    <li>Goa</li>
                    <li>Hyderabad</li>
                    <li>Indore</li>
                    <li>Jaipur</li>
                    <li>Kolkata</li>
                    <li>Lucknow</li>
                    <li>Ludhiana</li>
                    <li>Mumbai</li>
                    <li>Mumbai-Dombivili</li>
                    <li>Nagpur</li>
                    <li>Nashik</li>
                    <li>New Delhi</li>
                    <li>Pune</li>
                    <li>Raipur</li>
                    <li>Rajkot</li>
                    <li>Surat</li>
                    <li>Thane</li>
                    <li>Thiruvananthapuram</li>
                    <li>Vadodara</li>
                </ul>
            </div>
            <p class="text-white detail">LANDMARK INSURANCE BROKERS PRIVATE LIMITED <br> CIN U66030PN2002PTC017009</p>
            <p class="detail-description">IRDAI CoR No: 216 | Broker Code: DB 089/03 | Valid From 13/10/2021 till
                12/10/2024 (originally licensed on 13/10/2003 and renewed thereafter) | Category: Direct (Life &
                General) | A member of IBAI</p>
            <p class="address">Regd. Off: 1187/22, 4th Floor (above ICICI Bank ATM), Venkatesh Meher, Ghole Road,
                Shivaji Nagar, Pune (Maharashtra) - 411005.</p>
            <div class="link-box">
                <a href="www.policyboss.com" title="www.policyboss.com" target="_blank">Website: www.policyboss.com</a>
                <a href="tel:1800-419-419-9" title="call:1800-419-419-9">Toll Free: 1800-419-419-9*</a>
            </div>
            <p class="info-text">* Working hours: 9:30 a.m. to 6:30 p.m. (Monday to Saturday)</p>
            <p class="copyright-text">Copyright &#169; 2021 PolicyBoss. All rights reserved.</p>
        </div>
    </div>
</footer>