.tooltip-button {
    display: block;
    &:before {
      content: '';
      display: none;
      z-index: 9998;
    }
    &:after {
      content: 'Copy to Clipboard';
      display: none;
      position: absolute;
      z-index: 9999;
      left: 90px;
      width: 114px;
      height: 36px;
      color: #fff;
      font-size: 10px;
      line-height: 36px;
      text-align: center;
      background: rgba(0,0,0,.72);
      border-radius: 3px;
    }
    &:hover {
      background-color: #eee;
      &:before, &:after {
        display: block;
      }
    }
    &:active, &:focus {
      outline: none;
      &:after {
        content: 'Copied!';
      }
    }
  }
  
  